@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #00050a;
  color: #eeeeee;
}

h1 {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  font-weight: bold;
  padding-left: 5vw;
  overflow: hidden;
}

h1 .hi {
  display: inline-block;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #2800ad;
  height: 1vw;
  z-index: -1;
}

